<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script type="text/javascript" src="../static/js/rest_api.js"></script>
  </head>
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  <body>
    <div id="map"></div>
    <script>
      var map;
      var temp_locations = {{ locations }};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: new google.maps.LatLng(37.09024, -95.712891),
          mapTypeId: 'roadmap'
        });

        /*
        var features = [];
        */

        for (location of temp_locations) {
            print(location[0])
            print(location[0])
            print(location[1])
            print(location[1])
            /*
            features.push({
                position: new google.maps.LatLng(location)
            })
            */
        }

        var features = [
          {
            position: new google.maps.LatLng(34.0522342, -118.24368489999999)
          }, {
            position: new google.maps.LatLng(40.7127753, -74.0059728)
          }
        ];

        // Create markers.
        features.forEach(function(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            map: map
          });
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVTpreh_pg96fxIjlm34eWLnOssqMkdxM&callback=initMap"
    async defer></script>
  </body>
</html>
