<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <script type="text/javascript" src="../static/js/rest_api.js"></script>
</head>
<style>
  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

  #map {
    height: 100%;
  }

  /* Optional: Makes the sample page fill the window. */

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<body>
  <div id="map"></div>
  <script>
    var map;
    var temp_locations = JSON.parse('{{ locations | tojson | safe }}');
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: new google.maps.LatLng(37.09024, -95.712891),
        mapTypeId: 'roadmap'
      });

      // to see if temp_locations are set properly
      temp_locations.forEach(function (location) {
        console.log(location);
      });

      var infowindow = new google.maps.InfoWindow({});

      // Create markers.
      temp_locations.forEach(function (location) {

        var marker = new google.maps.Marker({
          position: { lat: parseFloat(location['lat']), lng: parseFloat(location['long']) },
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function (marker) {
			return function () {
				infowindow.setContent(location['info']);
				infowindow.open(map, marker);
			}
		})(marker));

      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVTpreh_pg96fxIjlm34eWLnOssqMkdxM&callback=initMap">
  </script>
</body>

</html>
